hd_visual
.Xil
reconfig_peripheral_prj
Bitstreams/*
Checkpoint/*
Implement/*
Synth/reconfig_modules/*
Synth/Static/*
!*.placeholder

*.DS_Store
BOOT.bin
output.bif

usage_statistics_webtalk.html
usage_statistics_webtalk.xml